@import "../../styles/variables";
div.create-wrapper {
    flex-basis: 70%;
    padding: 1.5rem 0.8rem;
    color: $primary_color;
    section.create_header {
        width: 100%;
        h2 {
            padding: 0;
            margin: 0;
            font-size: 1rem;
        }
        margin-bottom: 1.5rem;
    }
    section.create_form {
        width: 100%;
        padding: 1rem 0;
        height: 85%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background-color: darken($secondary_color, 5%);
            border-radius: 7px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background-color: lighten($primary_color_light, 15%);
            border-radius: 7px;
            &:hover {
                background-color: darken($primary_color, 5%);
            }
        }
        form {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 1rem;
            div {
                width: 100%;
                padding: 0.8rem 1rem;
                display: flex;
                border-bottom: 1px solid $primary_color;
                flex-flow: row wrap;
                border-radius: 5px;
                gap: 2rem;
                label {
                    flex-basis: calc(25% - 2rem);
                    font-size: 0.8rem;
                }
                input,
                textarea {
                    flex-basis: calc(75% - 2rem);
                    padding: 0.3rem 0.2rem;
                    outline: none;
                    border: 1px solid lighten($primary_color, 20%);
                    border-radius: 5px;
                    color: $primary_color;
                    &:focus,
                    &:active {
                        outline: none;
                        box-shadow: 0 0 5px $primary_color;
                    }
                }
                textarea {
                    resize: vertical;
                    height: 4rem;
                    font-family: $sora_font;
                    max-height: 10rem;
                }
            }
            button {
                width: 45%;
                padding: 0.6rem 0;
                border-radius: 8px;
                border: none;
                background-color: $primary_color;
                color: white;
                cursor: pointer;
                font-weight: 600;
                &:hover {
                    background-color: lighten($primary_color, 10%);
                }
            }
        }
    }
}