@import "../../styles/variables";
@import "../../styles/mixins";

div.test_endpoint-wrapper {
    padding: 1.5rem 0.8rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 4.5rem);
    @include scrollbar;

    h2 {
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        color: $primary_color;
        font-size: 1rem;
    }

    section {
        margin: 2rem;
    }

    @media screen and (max-width: 768px) {
        section {
            margin: 0.8rem;
        }
    }

    .endpoint_info {
        color: $primary_color;

        p {
            // margin: 3rem;
            font-size: 0.6rem;
            padding: 0.5rem 0;
            padding-top: 0;
            line-height: 1rem;
            overflow-wrap: break-word;

            a {
                text-decoration: underline;
                color: lighten($primary_color, 20%);
                cursor: pointer;
            }

        }

        small {
            font-size: 0.5rem;
            font-weight: 700;
        }
    }

    .endpoint_form {
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            color: $primary_color;

            div {
                display: flex;
                gap: 1rem;
                width: 100%;

                label {
                    flex-basis: 30%;
                    font-size: 0.65rem
                }

                input,
                select,
                textarea {
                    flex-basis: 67%;
                    padding: 0.2rem 0.4rem;
                    border: 1px solid $primary_color;
                    border-radius: 5px;
                    transition: 0.4s ease-in;

                    &:hover,
                    &:active,
                    &:focus {
                        outline: none;
                        box-shadow: 0 0 5px $primary_color;
                    }
                }

                input {
                    font-size: 0.38rem;

                    padding: {
                        top: 0.3rem;
                        bottom: 0.3rem;
                    }
                }

                textarea {
                    min-height: 10rem;
                }
            }

            button {
                padding: 0.6rem 1rem;
                width: 40%;
                border-radius: 6px;
                border: none;
                background-color: $primary_color;
                color: white;
                cursor: pointer;
                outline: none;
                font-weight: 600;
                transition: background-color 0.5s ease-in-out;

                &:hover {
                    background-color: lighten($primary_color, 10%);
                }
            }
        }
    }

    .response_section {
        margin: {
            top: 1rem;
            bottom: 1rem;
        }

        ;

        h2 {
            font-size: 1rem;
            color: $primary_color;
        }

        div {
            padding: 2rem;
            border: 1px solid $primary_color;
            border-radius: 4px;
            color: $primary_color_light;
            font-size: 0.5rem;
            line-height: 1rem;
            font-family: monospace;
            width: 100%;
            overflow-x: auto;
        }
    }
}