@import "../../styles/variables";
@import "../../styles/mixins";

div.modelPage-wrapper {
    height: 100%;
    padding: 1.5rem 0.8rem;
    position: relative;
    overflow: hidden;
    width: 100%;

    section.modelPage_header {
        @include detailHeader;
    }

    section.modelPage_body {
        margin: 1.5rem 0;
        width: 100%;
        color: $primary_color;
        height: auto;
        overflow-y: auto;

        @include scrollbar;

        table,
        td,
        th {
            border-collapse: collapse;
            font-size: 0.6rem;
            padding: 0.6rem;
            background-color: $primary_color;
        }

        th {
            color: white;
            text-align: left;
        }

        table {
            width: 100%;
        }

        td {
            background-color: $secondary_color;
            border-bottom: 1px solid $primary_color;
            white-space: wrap;
        }
    }

    section.modelPage_btns {
        @include detailFooter
    }
}