@mixin auth_page {
    // min-height: calc(100vh - 4.5rem);
    background-color: $secondary_color;

    div.auth-section-wrapper {
        min-height: calc(100vh - 4.5rem);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 2rem 0;

        @media screen and (max-width: 768px) {
            gap: 2.5em;
        }

        img {
            width: clamp(8rem, 25%, 13rem);
            height: auto;
            object-fit: cover;

            @media screen and (max-width: 768px) {
                margin-top: -2.2rem;
            }
        }

        section {
            width: clamp(12rem, 30%, 16rem);
            display: flex;
            flex-direction: column;
            gap: 0.8em;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.8em;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2em;

                    label {
                        font-size: 0.7rem;
                        color: $primary_color;
                    }

                    input {
                        padding: 0.4rem 0.3rem;
                        border: none;

                        &:focus {
                            outline: none
                        }
                    }
                }

                button {
                    padding: 0.4rem 0;
                    height: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary_color;
                    border: none;
                    border-radius: 4px;
                    text-transform: uppercase;
                    color: white;
                    cursor: pointer;
                    font-weight: 600;
                    transition: background-color 0.4s ease;

                    &:hover,
                    &:focus,
                    &:active {
                        outline: none;
                        background-color: lighten($primary_color, 10%)
                    }

                    .auth-spinner {
                        margin: 0;
                        padding: 0;
                    }
                }

                .form-card {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.5rem;
                    transition: height 0.4s ease-in;
                    font-size: 0.6rem;
                    border-radius: 5px;
                }

                .form-error-card {
                    background-color: red
                }

                .form-redirect-card {
                    background-color: orangered;
                }

                .form-success-card {
                    background-color: green;
                }
            }

            a {
                font-size: 0.6rem;
                text-decoration: none;
                color: $primary_color;
                transition: color 0.4s ease;

                &:hover {
                    color: lighten($primary_color, 8%);
                }
            }
        }
    }
}

@mixin MainPageDefault {
    height: calc(100vh - 2.5rem);
    width: 100%;
}

@mixin detailHeader {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 0.5rem;
    color: $primary_color_light;

    h2 {
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
    }

    p {
        font-size: 0.6rem;
        font-style: italic;
        text-align: justify;
        text-justify: auto;
    }
}

@mixin detailFooter {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1.6rem);
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width:992px) {
        bottom: 1.5rem;
    }


    button {
        padding: 0.6rem 1rem;
        border-radius: 3px;
        border: none;
        background-color: $primary_color;
        color: white;
        cursor: pointer;
        outline: none;
        font-weight: 600;
        transition: background-color 0.5s ease-in-out;

        &:hover {
            background-color: lighten($primary_color, 10%);
        }
    }


    @media screen and (max-width: 768px) {
        height: auto;
        gap: 0.3rem;

        button {
            padding: 0.4rem 0.5rem;
            white-space: nowrap;
        }
    }

    @media screen and (max-width: 390px) {
        gap: 0.1rem;

        button {
            font-size: 45%;
        }

    }


}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: darken($secondary_color, 5%);
        border-radius: 7px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: lighten($primary_color_light, 15%);
        border-radius: 7px;

        &:hover {
            background-color: darken($primary_color, 5%);
        }
    }
}

@mixin basic_form_div {
    width: 100%;
    padding: 0.8rem 1rem;
    display: flex;
    border-bottom: 1px solid $primary_color;
    flex-flow: row wrap;
    border-radius: 5px;
    gap: 2rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
    }

    label {
        flex-basis: calc(25% - 2rem);
        font-size: 0.8rem;
    }

    input,
    textarea {
        flex-basis: calc(75% - 2rem);
        padding: 0.3rem 0.2rem;
        outline: none;
        border: 1px solid lighten($primary_color, 20%);
        border-radius: 5px;
        color: $primary_color;

        &:focus,
        &:active {
            outline: none;
            box-shadow: 0 0 5px $primary_color;
        }
    }

    textarea {
        resize: vertical;
        height: 4rem;
        font-family: $sora_font;
        max-height: 10rem;

        @media screen and (max-width: 768px) {
            height: 6rem;
        }
    }
}

@mixin basic_error_card {
    width: 70%;
    padding: 0.6rem;
    font-size: 0.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    font-family: $sora_font;
}