$primary_color:#44859F;
$primary_color_light: #44849D;
$secondary_color: #EBF0F2;
$primary_black: #14242A;
$secondary_black: #3C4A4F;
$sora_font: 'Sora',
sans-serif;
$roboto_font: 'Roboto',
sans-serif;