* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: white;
}

html {
    font-family: $sora_font;
    font-size: 1.5rem;
}

body,
html {
    width: 100vw;
    overflow-x: hidden;
}

input {
    font-family: $sora_font;
}